<%- include('partials/header') %>

<main>
    <div class="container">
        <section>
            <h1>About Us</h1>
            <p> coming soon </p>
        </section>
    </div>
</main>

<%- include('partials/footer') %>
